In [1]:
import pandas as pd
import numpy as np

In [2]:
path=''
parking_transactions=pd.read_csv(path+'parkeerdata/leeuwarden_garage_parking_transactions.csv',sep=";")

In [12]:
parking_locations=pd.read_csv(path+'parkeerdata/leeuwarden_garage_parking_garage_gps.csv',sep=";",decimal=",")

## Data opschonen en opsplitsen per garage
De data heeft wat nan waarden, wat inhoud dat er auto's in de garage parkeren die er nooit uitgaan. Of andersom.
Die gaan we er uit halen, en de data opslaan per garage.

In [3]:
transactions = parking_transactions[pd.notnull(parking_transactions.end_parking_dt)]
transactions = transactions[pd.notnull(transactions.start_parking_dt)]

transactions['visit_datetime'] = pd.to_datetime(transactions['start_parking_dt'], format='%d-%m-%Y %H:%M')
transactions['visit_date'] = transactions['visit_datetime'].dt.date
transactions['leave_datetime'] = pd.to_datetime(transactions['end_parking_dt'], format='%d-%m-%Y %H:%M')
transactions['leave_date'] = transactions['leave_datetime'].dt.date

In [7]:
parking_data = transactions
parking_data

,garage_id,card_type_id,transaction_id,start_parking_dt,end_parking_dt,pay_parking_dt,entry_station_cid,pay_station_cid,exit_station_cid,visit_datetime,visit_date,leave_datetime,leave_date
0,36,220,2912536,1-1-2016 00:14,1-1-2016 06:17,1-1-2016 06:14,989.0,998.0,992.0,2016-01-01 00:14:00,2016-01-01,2016-01-01 06:17:00,2016-01-01
1,36,220,2912538,1-1-2016 00:27,1-1-2016 05:11,1-1-2016 05:09,989.0,998.0,992.0,2016-01-01 00:27:00,2016-01-01,2016-01-01 05:11:00,2016-01-01
2,36,220,2912537,1-1-2016 00:27,1-1-2016 05:56,1-1-2016 05:52,988.0,998.0,993.0,2016-01-01 00:27:00,2016-01-01,2016-01-01 05:56:00,2016-01-01
3,36,220,2912539,1-1-2016 00:28,1-1-2016 08:14,1-1-2016 08:06,989.0,998.0,992.0,2016-01-01 00:28:00,2016-01-01,2016-01-01 08:14:00,2016-01-01
4,36,220,2912540,1-1-2016 00:34,1-1-2016 04:09,1-1-2016 04:03,989.0,998.0,992.0,2016-01-01 00:34:00,2016-01-01,2016-01-01 04:09:00,2016-01-01
5,36,220,2912541,1-1-2016 00:35,1-1-2016 04:37,1-1-2016 04:33,988.0,998.0,992.0,2016-01-01 00:35:00,2016-01-01,2016-01-01 04:37:00,2016-01-01
6,36,220,2912542,1-1-2016 00:35,1-1-2016 05:05,1-1-2016 05:00,988.0,998.0,993.0,2016-01-01 00:35:00,2016-01-01,2016-01-01 05:05:00,2016-01-01
7,36,220,2912543,1-1-2016 00:39,1-1-2016 06:27,1-1-2016 06:25,989.0,998.0,992.0,2016-01-01 00:39:00,2016-01-01,2016-01-01 06:27:00,2016-01-01
8,36,220,2912544,1-1-2016 00:40,1-1-2016 03:14,1-1-2016 03:11,989.0,998.0,992.0,2016-01-01 00:40:00,2016-01-01,2016-01-01 03:14:00,2016-01-01
10,36,220,2912547,1-1-2016 00:42,1-1-2016 04:09,1-1-2016 04:03,988.0,998.0,992.0,2016-01-01 00:42:00,2016-01-01,2016-01-01 04:09:00,2016-01-01
11,36,220,2912546,1-1-2016 00:42,1-1-2016 15:52,1-1-2016 15:49,989.0,1009.0,992.0,2016-01-01 00:42:00,2016-01-01,2016-01-01 15:52:00,2016-01-01
12,36,220,2912548,1-1-2016 00:43,1-1-2016 00:56,1-1-2016 00:54,989.0,998.0,992.0,2016-01-01 00:43:00,2016-01-01,2016-01-01 00:56:00,2016-01-01
13,36,220,2912549,1-1-2016 00:44,1-1-2016 05:49,1-1-2016 05:45,988.0,998.0,992.0,2016-01-01 00:44:00,2016-01-01,2016-01-01 05:49:00,2016-01-01
14,36,220,2912550,1-1-2016 00:51,1-1-2016 02:58,1-1-2016 02:54,989.0,994.0,992.0,2016-01-01 00:51:00,2016-01-01,2016-01-01 02:58:00,2016-01-01
15,36,220,2912551,1-1-2016 00:53,1-1-2016 04:46,1-1-2016 04:44,989.0,998.0,992.0,2016-01-01 00:53:00,2016-01-01,2016-01-01 04:46:00,2016-01-01
16,36,220,2912552,1-1-2016 00:54,1-1-2016 04:19,1-1-2016 04:17,989.0,998.0,992.0,2016-01-01 00:54:00,2016-01-01,2016-01-01 04:19:00,2016-01-01
17,36,220,2912553,1-1-2016 00:57,1-1-2016 01:25,1-1-2016 01:22,988.0,994.0,992.0,2016-01-01 00:57:00,2016-01-01,2016-01-01 01:25:00,2016-01-01
18,36,220,2912555,1-1-2016 00:57,1-1-2016 04:16,1-1-2016 04:12,989.0,998.0,992.0,2016-01-01 00:57:00,2016-01-01,2016-01-01 04:16:00,2016-01-01
19,36,220,2912554,1-1-2016 00:57,1-1-2016 01:08,1-1-2016 01:05,989.0,998.0,993.0,2016-01-01 00:57:00,2016-01-01,2016-01-01 01:08:00,2016-01-01
20,36,220,2912556,1-1-2016 00:58,1-1-2016 02:56,1-1-2016 02:54,988.0,994.0,992.0,2016-01-01 00:58:00,2016-01-01,2016-01-01 02:56:00,2016-01-01
21,36,220,2912557,1-1-2016 00:59,1-1-2016 03:54,1-1-2016 03:50,989.0,998.0,993.0,2016-01-01 00:59:00,2016-01-01,2016-01-01 03:54:00,2016-01-01
22,36,220,2912558,1-1-2016 01:01,1-1-2016 05:11,1-1-2016 05:08,988.0,998.0,992.0,2016-01-01 01:01:00,2016-01-01,2016-01-01 05:11:00,2016-01-01
23,36,220,2912559,1-1-2016 01:02,1-1-2016 05:37,1-1-2016 05:32,988.0,998.0,992.0,2016-01-01 01:02:00,2016-01-01,2016-01-01 05:37:00,2016-01-01
24,36,220,2912560,1-1-2016 01:04,1-1-2016 05:22,1-1-2016 05:17,989.0,998.0,992.0,2016-01-01 01:04:00,2016-01-01,2016-01-01 05:22:00,2016-01-01
25,36,221,2912562,1-1-2016 01:05,1-1-2016 14:33,NaN,988.0,NaN,992.0,2016-01-01 01:05:00,2016-01-01,2016-01-01 14:33:00,2016-01-01
26,36,220,2912561,1-1-2016 01:05,1-1-2016 04:32,1-1-2016 04:28,988.0,998.0,992.0,2016-01-01 01:05:00,2016-01-01,2016-01-01 04:32:00,2016-01-01
27,36,220,2912563,1-1-2016 01:07,1-1-2016 05:26,1-1-2016 05:24,989.0,998.0,992.0,2016-01-01 01:07:00,2016-01-01,2016-01-01 05:26:00,2016-01-01
28,36,220,2912564,1-1-2016 01:07,1-1-2016 03:47,1-1-2016 03:42,988.0,998.0,992.0,2016-01-01 01:07:00,2016-01-01,2016-01-01 03:47:00,2016-01-01
29,36,220,2912565,1-1-2016 01:17,1-1-2016 06:56,1-1-2016 06:52,989.0,998.0,992.0,2016-01-01 01:17:00,2016-01-01,2016-01-01 06:56:00,2016-01-01
30,36,220,2912567,1-1-2016 01:20,1-1-2016 04:09,1-1-2016 04:05,989.0,998.0,993.0,2016-01-01 01:20:00,2016-01-01,2016-01-01 04:09:00,2016-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3380130,36,220,4536579,31-3-2018 23:22,1-4-2018 03:37,1-4-2018 03:31,989.0,998.0,992.0,2018-03-31 23:22:00,2018-03-31,2018-04-01 03:37:00,2018-04-01
3380131,36,220,4536580,31-3-2018 23:25,1-4-2018 14:20,1-4-2018 14:20,988.0,NaN,992.0,2018-03-31 23:25:00,2018-03-31,2018-04-01 14:20:00,2018-04-01
3380132,36,220,4536581,31-3-2018 23:25,1-4-2018 04:48,1-4-2018 04:43,988.0,998.0,992.0,2018-03-31 23:25:00,2018-03-31,2018-04-01 04:48:00,2018-04-01
3380133,36,220,4536582,31-3-2018 23:27,1-4-2018 04:27,1-4-2018 04:23,988.0,998.0,993.0,2018-03-31 23:27:00,2018-03-31,2018-04-01 04:27:00,2018-04-01
3380134,36,220,4536583,31-3-2018 23:27,1-4-2018 05:52,1-4-2018 05:43,989.0,998.0,992.0,2018-03-31 23:27:00,2018-03-31,2018-04-01 05:52:00,2018-04-01
3380135,36,220,4536584,31-3-2018 23:27,1-4-2018 06:24,1-4-2018 06:21,988.0,998.0,993.0,2018-03-31 23:27:00,2018-03-31,2018-04-01 06:24:00,2018-04-01
3380136,36,220,4536585,31-3-2018 23:29,1-4-2018 14:47,1-4-2018 14:43,988.0,1009.0,992.0,2018-03-31 23:29:00,2018-03-31,2018-04-01 14:47:00,2018-04-01
3380137,36,220,4536586,31-3-2018 23:30,1-4-2018 03:50,1-4-2018 03:45,988.0,998.0,993.0,2018-03-31 23:30:00,2018-03-31,2018-04-01 03:50:00,2018-04-01
3380138,36,220,4536587,31-3-2018 23:31,1-4-2018 01:33,1-4-2018 01:30,989.0,998.0,992.0,2018-03-31 23:31:00,2018-03-31,2018-04-01 01:33:00,2018-04-01
3380139,36,220,4536588,31-3-2018 23:32,1-4-2018 05:16,1-4-2018 05:14,988.0,998.0,992.0,2018-03-31 23:32:00,2018-03-31,2018-04-01 05:16:00,2018-04-01
3380140,36,220,4536589,31-3-2018 23:33,1-4-2018 05:29,1-4-2018 05:22,988.0,998.0,992.0,2018-03-31 23:33:00,2018-03-31,2018-04-01 05:29:00,2018-04-01
3380141,36,220,4536590,31-3-2018 23:34,1-4-2018 01:08,1-4-2018 01:05,989.0,1009.0,993.0,2018-03-31 23:34:00,2018-03-31,2018-04-01 01:08:00,2018-04-01
3380142,36,220,4536591,31-3-2018 23:34,1-4-2018 03:18,1-4-2018 03:14,989.0,998.0,992.0,2018-03-31 23:34:00,2018-03-31,2018-04-01 03:18:00,2018-04-01
3380143,36,220,4536592,31-3-2018 23:35,1-4-2018 23:40,1-4-2018 23:37,988.0,998.0,992.0,2018-03-31 23:35:00,2018-03-31,2018-04-01 23:40:00,2018-04-01
3380144,36,220,4536593,31-3-2018 23:35,1-4-2018 05:16,1-4-2018 05:12,989.0,998.0,992.0,2018-03-31 23:35:00,2018-03-31,2018-04-01 05:16:00,2018-04-01
3380145,36,220,4536594,31-3-2018 23:36,1-4-2018 06:25,1-4-2018 06:22,988.0,998.0,992.0,2018-03-31 23:36:00,2018-03-31,2018-04-01 06:25:00,2018-04-01
3380146,36,220,4536595,31-3-2018 23:38,1-4-2018 00:44,1-4-2018 00:42,989.0,994.0,993.0,2018-03-31 23:38:00,2018-03-31,2018-04-01 00:44:00,2018-04-01
3380147,36,220,4536596,31-3-2018 23:41,1-4-2018 03:01,1-4-2018 02:55,989.0,996.0,992.0,2018-03-31 23:41:00,2018-03-31,2018-04-01 03:01:00,2018-04-01
3380148,36,220,4536597,31-3-2018 23:41,1-4-2018 03:46,1-4-2018 03:40,988.0,998.0,992.0,2018-03-31 23:41:00,2018-03-31,2018-04-01 03:46:00,2018-04-01
3380149,36,220,4536598,31-3-2018 23:43,1-4-2018 02:09,1-4-2018 02:04,989.0,994.0,992.0,2018-03-31 23:43:00,2018-03-31,2018-04-01 02:09:00,2018-04-01
3380150,36,220,4536599,31-3-2018 23:44,1-4-2018 07:09,1-4-2018 07:06,989.0,999.0,992.0,2018-03-31 23:44:00,2018-03-31,2018-04-01 07:09:00,2018-04-01
3380151,36,220,4536600,31-3-2018 23:45,1-4-2018 01:34,1-4-2018 01:30,989.0,998.0,993.0,2018-03-31 23:45:00,2018-03-31,2018-04-01 01:34:00,2018-04-01
3380152,36,221,4536601,31-3-2018 23:45,1-4-2018 05:03,NaN,989.0,NaN,992.0,2018-03-31 23:45:00,2018-03-31,2018-04-01 05:03:00,2018-04-01
3380153,36,220,4536602,31-3-2018 23:48,1-4-2018 04:10,1-4-2018 04:07,988.0,998.0,993.0,2018-03-31 23:48:00,2018-03-31,2018-04-01 04:10:00,2018-04-01
3380154,36,220,4536603,31-3-2018 23:49,1-4-2018 05:21,1-4-2018 05:18,988.0,998.0,992.0,2018-03-31 23:49:00,2018-03-31,2018-04-01 05:21:00,2018-04-01
3380155,36,220,4536604,31-3-2018 23:50,1-4-2018 05:48,1-4-2018 05:46,989.0,998.0,992.0,2018-03-31 23:50:00,2018-03-31,2018-04-01 05:48:00,2018-04-01
3380156,36,220,4536605,31-3-2018 23:51,1-4-2018 03:54,1-4-2018 03:54,988.0,NaN,992.0,2018-03-31 23:51:00,2018-03-31,2018-04-01 03:54:00,2018-04-01
3380157,36,220,4536606,31-3-2018 23:51,1-4-2018 03:20,1-4-2018 03:18,989.0,998.0,993.0,2018-03-31 23:51:00,2018-03-31,2018-04-01 03:20:00,2018-04-01
3380158,36,220,4536607,31-3-2018 23:55,1-4-2018 16:33,1-4-2018 16:29,989.0,1009.0,992.0,2018-03-31 23:55:00,2018-03-31,2018-04-01 16:33:00,2018-04-01
3380159,36,221,4536608,31-3-2018 23:59,2-4-2018 13:06,NaN,988.0,NaN,993.0,2018-03-31 23:59:00,2018-03-31,2018-04-02 13:06:00,2018-04-02

In [8]:
bezetting_in = parking_data[['visit_datetime', 'garage_id', 'card_type_id', 'transaction_id']]
bezetting_in.columns = ['event_time', 'garage_id', 'card_type_id', 'transaction_id']
#create column in_out representing the incremental change in the garage
bezetting_in['in_out'] = 1

C:\Users\verho534\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [9]:
bezetting_out = parking_data[['leave_datetime', 'garage_id', 'card_type_id', 'transaction_id']]
bezetting_out.columns = ['event_time', 'garage_id', 'card_type_id', 'transaction_id']
#create column in_out representing the incremental change in the garage
bezetting_out['in_out'] = -1

C:\Users\verho534\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [11]:
# Voeg de twee datasets samen
bezetting = pd.concat([bezetting_in, bezetting_out])

                 event_time  garage_id  card_type_id  transaction_id  in_out
0       2016-01-01 00:14:00         36           220         2912536       1
1       2016-01-01 00:27:00         36           220         2912538       1
2       2016-01-01 00:27:00         36           220         2912537       1
3       2016-01-01 00:28:00         36           220         2912539       1
4       2016-01-01 00:34:00         36           220         2912540       1
5       2016-01-01 00:35:00         36           220         2912541       1
6       2016-01-01 00:35:00         36           220         2912542       1
7       2016-01-01 00:39:00         36           220         2912543       1
8       2016-01-01 00:40:00         36           220         2912544       1
10      2016-01-01 00:42:00         36           220         2912547       1
11      2016-01-01 00:42:00         36           220         2912546       1
12      2016-01-01 00:43:00         36           220         2912548       1
13      2016-01-01 00:44:00         36           220         2912549       1
14      2016-01-01 00:51:00         36           220         2912550       1
15      2016-01-01 00:53:00         36           220         2912551       1
16      2016-01-01 00:54:00         36           220         2912552       1
17      2016-01-01 00:57:00         36           220         2912553       1
18      2016-01-01 00:57:00         36           220         2912555       1
19      2016-01-01 00:57:00         36           220         2912554       1
20      2016-01-01 00:58:00         36           220         2912556       1
21      2016-01-01 00:59:00         36           220         2912557       1
22      2016-01-01 01:01:00         36           220         2912558       1
23      2016-01-01 01:02:00         36           220         2912559       1
24      2016-01-01 01:04:00         36           220         2912560       1
25      2016-01-01 01:05:00         36           221         2912562       1
26      2016-01-01 01:05:00         36           220         2912561       1
27      2016-01-01 01:07:00         36           220         2912563       1
28      2016-01-01 01:07:00         36           220         2912564       1
29      2016-01-01 01:17:00         36           220         2912565       1
30      2016-01-01 01:20:00         36           220         2912567       1
...                     ...        ...           ...             ...     ...
3380130 2018-04-01 03:37:00         36           220         4536579      -1
3380131 2018-04-01 14:20:00         36           220         4536580      -1
3380132 2018-04-01 04:48:00         36           220         4536581      -1
3380133 2018-04-01 04:27:00         36           220         4536582      -1
3380134 2018-04-01 05:52:00         36           220         4536583      -1
3380135 2018-04-01 06:24:00         36           220         4536584      -1
3380136 2018-04-01 14:47:00         36           220         4536585      -1
3380137 2018-04-01 03:50:00         36           220         4536586      -1
3380138 2018-04-01 01:33:00         36           220         4536587      -1
3380139 2018-04-01 05:16:00         36           220         4536588      -1
3380140 2018-04-01 05:29:00         36           220         4536589      -1
3380141 2018-04-01 01:08:00         36           220         4536590      -1
3380142 2018-04-01 03:18:00         36           220         4536591      -1
3380143 2018-04-01 23:40:00         36           220         4536592      -1
3380144 2018-04-01 05:16:00         36           220         4536593      -1
3380145 2018-04-01 06:25:00         36           220         4536594      -1
3380146 2018-04-01 00:44:00         36           220         4536595      -1
3380147 2018-04-01 03:01:00         36           220         4536596      -1
3380148 2018-04-01 03:46:00         36           220         4536597      -1
3380149 2018-04-01 02:09:00         36           220         4536598      -1
3380150 2018-04-01 07:09:00         36           220         4536599      -1
3380151 2018-04-01 01:34:00         36           220         4536600      -1
3380152 2018-04-01 05:03:00         36           221         4536601      -1
3380153 2018-04-01 04:10:00         36           220         4536602      -1
3380154 2018-04-01 05:21:00         36           220         4536603      -1
3380155 2018-04-01 05:48:00         36           220         4536604      -1
3380156 2018-04-01 03:54:00         36           220         4536605      -1
3380157 2018-04-01 03:20:00         36           220         4536606      -1
3380158 2018-04-01 16:33:00         36           220         4536607      -1
3380159 2018-04-02 13:06:00         36           221         4536608      -1

[6485372 rows x 5 columns]

Save the full dataset per garage

In [13]:
for garage_id in parking_locations.garage_id.unique():
    mask = bezetting['garage_id']==garage_id
    data = bezetting.loc[mask]
    #sorteer de data op tijd
    data = data.sort_values(by = 'event_time').reset_index()
    del data['index']
    data.to_csv("../data/bezetting_garage_"+str(garage_id)+".csv",sep=";")

Om het werk te verlichten pak ik 3 maanden:

In [21]:
from_datetime="2017-03-01"
to_datetime="2017-06-01"
mask = (bezetting['event_time'] >= from_datetime) & (bezetting['event_time'] <= to_datetime)
bezetting = bezetting.loc[mask]

In [22]:
for garage_id in parking_locations.garage_id.unique():
    mask = bezetting['garage_id']==garage_id
    data = bezetting.loc[mask]
    data = data.sort_values(by = 'event_time').reset_index()
    del data['index']
    data.to_csv("../data/bezetting2_garage_"+str(garage_id)+".csv",sep=";")